.titre {
  display: flex;
  flex-direction: column;
  background-color: #f79d74;
}

ul {
  list-style-type: none;
  justify-content: end;
  display: flex;
  margin-right: 20px;
}

a {
  color: black;
  margin-right: 20px;
  position: relative;
  top: -160px;
  text-decoration: none;
  font-weight: 400;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.logo {
  width: 20%;
  margin: auto;
}

body {
  font-family: "Roboto";
  font-weight: 400;

  color: #f79d74;
  background-color: #1e1e1e;
}

.ligne {
  border-bottom: 5px solid #f79d74;
  width: 95%;
  margin: 50px auto 10px auto;
  padding-bottom: 10px;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: black;
}

.img_rapport {
  max-width: 48%;
  margin-top: 4%;
  max-height: 600px;
}

.wave {
  width: 400px;
  height: 400px;
}

div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 25px;
}

#W3C {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img_rapport-keywords {
  height: 40px;
  margin-top: 50px;
}

.img_rapport-descrip {
  margin-top: 20px;
}
